<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    <title>Login Page</title>
</head>
<body>
    <h1 id="loginPageTitle">Login Page</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="post" action={{ url_for('auth.login') }}>
        <label for="username">Username: </label>
            <input type="text" name="username" required>
        <br><br>
        <label for="password">Password:</label> 
            <input type="password" name="password" required>
        <br>
        <p>
            <button type="submit">Login</button>
        </p>
    </form>
    <p><a href={{ url_for('auth.register') }} target="_blank">Still have no account?</a></p>
</body>
</html>