<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Page</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="post" action={{ url_for('auth.login') }}>
        <p>Username: 
            <input type="text" name="username"/>
        </p>
        <p>Password: 
            <input type="password" name="password"/>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</body>
</html>