<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <title>For Management</title>
    </head>
    <body>
        <h1 id="managePageTitle">Manage Page</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
                {% for message in messages %}
                <li>{{ message }} </li>
                {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% if query %}
        <input type="checkbox" name="select_all" onclick="select_all(this)">All

        <form method="post" action={{ url_for('auth.delete_datas') }}>
        
        <button id="delete_selected">Delete Selected Data(s)</button>
        <table class="datatable" border='3'>
                <thead>
                        <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Gender(M/F)</th>
                                <th>Email</th>
                                <th>Password_hashed</th>
                        </tr>
                </thead>
                <tbody>
                {% for data in query %}
                        <tr>
                                <td><input type="checkbox" name="row_check" value="{{ data.id }}"></td>
                                <td>{{ data.id }}</td>
                                <td>{{ data.username }}</td>
                                <td>{{ data.gender }}</td>
                                <td>{{ data.email }}</td>
                                <td>{{ data.password_hashed }}</td>
                        </tr>
                {% endfor %}
                </tbody>
        </table>
        {% else %}
		<div style="color:red;"><p>No Record Found</p></div>
        {% endif %}
        </form>
    </body>
</html>