<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" >
    <title>Register Page</title>
</head>
<body>
    <h1 id="registerPageTitle">Register Page</h1>
    {%  with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="post" action={{ url_for('auth.register') }}>
        
        <label for="username">Username: </label>
            <input type="text" name="username" required>
        <br><br>
        <label for="gender">Gender: </label>
            <select name="gender" id="gender-select" required>
                <option value="">--Choose your gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        <br><br>
        <label for="email">Email: </label>
            <input type="email" name="email" required>
        <br><br>
        <label for="password">Password:</label> 
            <input type="password" name="password" required>
        <br><br>
        <label for="check_password">Check Password:</label> 
            <input type="password" name="check_password" required>
        <br><br>
        <p>
            <button type="submit" name="register_submit" value="register">Register</button>
        </p>
    </form>
</body>
</html>