#managePageTitle {
    text-align: center;
}

.container table {
    display: flex;
    justify-content: center;
}

.container table tr {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row; 
   justify-content: stretch;
   text-align: center;
}

/* .container table tr th {
    margin-left: 20px;
    margin-right: 20px; 
}

.container table tr td {
    margin-left: 20px;
    margin-right: 20px; 
}

.container table tr td button {
    margin-left: -20px;
    margin-right: -0px; 
} */