/* This css is for manage.html */

#managePageTitle {
    text-align: center;
}

.container table {
    display: flex;
    justify-content: center;
}

.container table tr {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row; 
   justify-content: stretch;
   text-align: center;
}